/* navbar */
.navbar {
background-color: #fffadc;
padding: 10px 0;
color: #456631;
}

.madimi-one-regular {
font-family: "Madimi One", serif;
font-weight: 400;
font-style: normal;
}

.navbar .container {
max-width: 1200px;
margin: 0 auto;
padding: 0 20px;
display: flex;
justify-content: space-between;
align-items: center;
}

.nav-logo img {
height: 100px;
}

.nav-menu {
list-style: none;
margin: 0;
padding: 0;
display: flex;
}

.nav-menu li {
margin-left: 20px;
}

.nav-menu li a {
text-decoration: none;
color: #456631;
font-size: 32px;
transition: color 0.3s ease;
}

.nav-menu li a:hover {
color:rgb(126, 126, 126);
}

/* end navbar */
